# =========================
# System Files
# =========================
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# =========================
# C/C++ General Build Files
# =========================
# Prerequisites & Object files
*.d
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries & Shared objects
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files & Info
*.dSYM/
*.su
*.idb
*.pdb
*.dwo

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# =========================
# STM32 & IDE Specific
# =========================
# Make / CMake output
build/
*.bak

# Keil MDK build files
*.crf
*.htm
*.dep
*.lst
*.axf
# *.uvoptx  # Uncomment this line if you want to ignore Keil debug settings and breakpoints
*.uvgui.*
*.uvguix.*
Objects/
Listings/

# STM32CubeIDE / Eclipse build files
Debug/
Release/
.metadata/

# VS Code workspace files (Optional)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json
